@tailwind base;
@tailwind components;
@tailwind utilities;

.post-title:after {
  content: " ";
  width: 145px;
  height: 3px;
  background: #97c93e;
  margin-top: 20px;
  float: left;
  position: absolute;
  clear: both;
  left: 40px;
  bottom: 0;
  top: 90px;
}
